[submodule "roles/geerlingguy.postgresql"]
	path = roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch.git
