[submodule "roles/geerlingguy.postgresql"]
	path = roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "roles/elasticsearch"]
	path = roles/elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch.git
[submodule "roles/geerlingguy.apache"]
	path = roles/geerlingguy.apache
	url = https://github.com/geerlingguy/ansible-role-apache.git
[submodule "roles/bbric-archive"]
	path = roles/bbric-archive
	url = git@laforge.ips2.u-psud.fr:joseph.tran/ansible-role-bbric-archive.git
[submodule "roles/ssmtp-role"]
	path = roles/ssmtp-role
	url = https://github.com/functionallyliterate/ssmtp-role.git
